html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

body {
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h2 {
    margin: 0;
}

svg { 
  height: 100%;
  width: 100%;
}

.section-box {
    width: 90%;
    padding: 1.5em 0;
    margin: 0 auto;
    max-width: 37.5em;
}

@media (min-width: 56.25em) {
    .section-box {
        width: 85%;
        max-width: none;
    }
}
    
.section__header {
    font-size: 2.5em;
    text-align: center;
}

.header--bold {
    font-weight: 800;
}

.header--white {
    color: #fff;
}

.home {
    background: url(img/background.jpg) no-repeat center top / cover;
    height: 100vh;
}

@media (min-width: 56.25em) {
    .home__header {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 56.25em) {
    .nav-shadow {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 10em;
        box-shadow: inset -10px 101px 30px -25px rgba(255,255,255,0.9);
    }
}

.home__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    text-align: center;
    margin-top: -0.5em;
    z-index: 1;
}

@media (min-width: 56.26em) {
    .home__logo {
        margin-top: 0;
    }
}

.nav-toggler {
    position: fixed;
    top: 12.5px;
    right: 12.5px;
    cursor: pointer;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>');
    height: 2em;
    width: 2em;
}

@media (max-width: 56.25em) {
    .site-nav-open .nav-toggler {
        display: block;
        background: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 32 32" height="32px" id="svg2" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg"><g id="background"><rect fill="none" height="32" width="32"/></g><g id="cancel"><polygon points="2,26 6,30 16,20 26,30 30,26 20,16 30,6 26,2 16,12 6,2 2,6 12,16  "/></g></svg>');
        z-index: 1;
        position: fixed;
        cursor: pointer;
        width: 10vw;
        height: 10vw;
        right: 5%;
        top: 1em;
        background-size: cover;
    }
}

@media (min-width: 56.25em) {
    .nav-toggler {
        display: none;   
    }
}

@media (max-width: 56.25em) {
    .nav {
        position: fixed;
        text-transform: uppercase;
    }
}

@media (min-width: 56.25em) {
    .nav {
        z-index: 1;
        text-transform: uppercase;
        position: fixed;
        right: 4em;
        top: 1.5em;
    }
}

@media (max-width: 56.25em) {
    .nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background: rgba(0, 0, 0, 0.85);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        text-align: center;
        font-size: 2.5em;
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
        z-index: 1;
    }
}

.nav__list {
    list-style: none;
}

@media (min-width: 56.25em) {
    .nav__list {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 56.25em) {
    .nav__item {
        margin: 0 0.5em;
        z-index: 2;
    }
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

@media (min-width: 56.25em) {
    .nav__link {
        color: #000;
    }
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link:active {
    position: relative;
    top: 1px;
}

@media (max-width: 56.25em) {
    .site-nav-open {
    overflow: hidden;
    }
}

@media (max-width: 56.25em) {
    .site-nav-open .nav {
        visibility: visible;
        transform: translateX(0);
    }
}

@media (max-width: 56.25em) {
    .pusher {
        transition: transform 0.3s ease-out;
    }
}

@media (max-width: 56.25em) {
    .site-nav-open .pusher {
        transform: translateX(80%);
        transition: transform 0.3s ease-out;
    }
}

@media (min-width: 56.25em) {
    .item--highlight {
        border-top: 3px solid #ff6033;
        margin-top: -3px;
    }
}

@media (min-width: 56.25em) {
    .home__main {
        width: 22em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15vh;
    }
}

.button {
    text-transform: uppercase;
    margin: 0 auto 1em;
    width: 9em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px -5px #000;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

@media (min-width: 56.25em) {
    .button--home {
        margin: 0;
    }
}

.button:hover, .button:active, .button:focus {
    cursor: pointer;
    box-shadow: 0px 7px 15px -5px #000;
}

.button--orange {
    background-color: #ff6033;
}

.button--blue {
    background-color: #5585a2;
}

.button--green {
    background-color: #96b92c;
}

.button--red {
    background-color: #f72b3b;
}

.about-us {
    background: #00b3b3;
    text-align: center;
    color: #fff;
}

@media (min-width: 56.25em) {
    .about-header {
        text-align: left;
        font-size: 3.25em;
    }
}

.about-us__description {
    font-weight: 300;
}

@media (min-width: 56.25em) {
    .about-us-box {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
        max-width: 60em;
    }
}

.about-us__image {
    display: block;
    width: 7em;
    height: 7em;
    margin: 0 auto;
    background: url("img/about-us-img.png") center no-repeat;
    background-size: 100% 100%;
    flex-shrink: 0;
}

@media (min-width: 56.25em) {
    .about-us__image {
        width: 30em;
        height: 30em;
        margin: 0 4em 0 0;
    }
}

.services {
    background: #70bfff;
    text-align: center;
    font-weight: 700;
}

@media (min-width: 56.25em) {
    .services-box {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        max-width: 60em;
    }
}

.services__list {
    list-style: none;
    padding: 0.5em 0;
}

.services__item {
    height: 4.25em;
    width: 18em;
    background-color: #fff;                      
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px -5px #000;
}

.services__image {
    display: block;
    width: 7em;
    height: 7em;
    margin: 0 auto;
    background: url("img/services-2.png") center no-repeat;
    background-size: 100% 100%;
}

@media (min-width: 56.25em) {
    .services__image {
        display: none;
    }
}

@media (min-width: 56.25em) {  
    .services--title {
        background: url("img/services-2.png") center no-repeat;
        height: 7em;
        background-size: 80% 80%;
        line-height: 7em;
        font-size: 3em;
    }
}

.list__text {
    width: 70%;
    margin-right: 1em;
    border-right: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__icon {
    width: 2em;
    height: 2em;
}

.gallery {
    background: #ffe92f;
    text-align: center;
}

.gallery__description {
    font-weight: 300;
}

@media (min-width: 56.25em) {
    .gallery__description {
        width: 30em;
        margin: 0 auto 1em;
    }
}

.gallery__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media(min-width: 56.25em) {
    .gallery__list {
        width: 80%;
        margin: 0 auto;
        max-width: 60em;
    }
}

.gallery__image {
    width: 100%;
}

.item--big {
    flex-basis: 100%;
}

@media(min-width: 56.25em) {
    .item--big {
        flex-basis: 66%;
    }
}

.item--medium {
    flex-basis: 100%;
}

@media(min-width: 56.25em) {
    .item--medium {
        flex-basis: 32.3%;
    }
}

.item--small {
    flex-basis: 49.5%;
}

.subscribe {
    text-align: center;
}

@media (min-width: 56.25em) {
    .subscribe {
        background: url(img/subscribe.png) no-repeat center top / cover;
    }
}
        
@media (min-width: 56.25em) {
    .subscribe-box {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        max-width: 70em;
    }
}

.subscribe__description {
    font-weight: 300;
    width: 70%;
    margin: 0 auto 1em;
}

@media (min-width: 56.25em) {
    .subscribe__description {
        text-align: left;
        margin: 1em 0;
    }
}

.subscribe__input {
    width: 80%;
    height: 2.5em;
    border: 1px solid black;
    padding: 1.5em 0.5em;
    margin-bottom: 1em;
}

@media (min-width: 56.25em) {
    .subscribe__input {
        width: 320%;
    }
}

.button-subscribe {
    border: none;
}

@media (min-width: 56.25em) {    
    .button-subscribe {
        position: relative;
        top: -4.0625em;
        left: 38.625em;
        height: 3em;
    }
}

.subscribe__input::placeholder {
    color: #b0b0b0;
}

.blog {
    background: #b07cf7;
    text-align: center;
    color: #fff;
}

.blog__description {
    font-weight: 300;
}

@media (min-width: 56.25em) {
    .blog__description {
        width: 30em;
        margin: 1em auto;
    }
}

.blog__blog-post {
    margin: 1em auto;
    max-width: 370px;
    width: 100%;
    height: 100%;
    min-height: 307px;
    color: #fff;
    box-shadow: inset 0 -125px 70px -20px rgba(0, 0, 0, 0.65), 0px 5px 20px -5px #000;
}

@media (min-width: 88em) {
    .blog__blog-post {
        margin: 0 1em;
    }
}

@media (min-width: 88em) {
    .blog-box {
        display: flex;
        justify-content: center;
    }
}

.blog-post__date {
    position: relative;
    left: 1em;
    top: 1em;
    font-weight: 900;
    font-size: 1.5em;
    width: 2.75em;
    height: 2.75em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-link {
    text-decoration: none;
}

.blog__blog-post:hover, .blog__blog-post:focus {
    box-shadow: inset 0 -185px 100px -50px rgba(0, 0, 0, 0.45), 0px 5px 20px -5px #000;
}

.blog-post__title {
    display: inline-block;
    font-weight: 700;
    font-size: 1.35em;
    text-align: left;
    margin: 5.5em 1em 0;
}

.blog-post__author {
    margin: 1em 1em;
    text-align: left;
}

@media (min-width: 88em) {
    .button--blog {
        margin-top: 1em;
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.contact {
    background: url(img/contact.png) no-repeat center top / cover;
    text-align: center;
}

.contact-header {
    color: #262626;
}

.contact__description {
    font-weight: 300;
}

@media (min-width: 56.25em) {
    .contact__description {
        width: 30em;
        margin: 0 auto;
    }
}

.contact__details {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin: 1em auto;
}

@media (min-width: 56.25em) {
    .contact__details {
        width: 20em;
        margin: 0 5em;
    }
}

@media (min-width: 56.25em) {
    .contact-box {
        display: flex;
        flex-direction: row-reverse;
        margin: 1em auto;
        justify-content: center;
    }
}

@media (min-width: 56.25em) {
    .contact__form {
        width: 30em;
    }
}

.details__heading {
    font-weight: 700;
    text-transform: uppercase;
}

.contact__input {
    padding: 1em;
    width: 80%;
    margin: 0.5em auto;
    background-color: #00c4c4;
    opacity: 0.5;
    color: #fff;
    font-weight: 700;
    border: 1px solid #009999;
}

.contact__input:hover, .contact__textarea:hover {
    cursor: pointer;
    opacity: 1;
    border-left: 5px solid #355b82;
}

.contact__input:focus, .contact__textarea:focus {
    opacity: 1;
    border-left: 5px solid #355b82;
}

.contact__input::placeholder, .contact__textarea::placeholder {
    color: #fff;
    font-weight: 300;
}

.contact__textarea {
    padding: 0.75em;
    background-color: #00c4c4;
    opacity: 0.5;
    color: #fff;
    font-weight: 700;
    width: 80%;
    margin: 0.5em auto;
    border: 1px solid #009999;
    min-height: 5em;
    resize: vertical;
}

.footer {
    background-color: #262626;
    text-align: center;
}

@media (min-width: 56.25em) {
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1em 0;
    }
}

.footer__copyright {
    color: #9b9b9b;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
    color: #b9b9b9;
    display: block;
}

.footer__description {
    color: #a3a3a3;
}

.description--highlight {
    color: #ff2b58;
    font-weight: 700;
}