html { 
    box-sizing: border-box; 
} 

*, *:before, *:after { 
    box-sizing: inherit; 
}

body {
    line-height: 1.5;
}

.site-header {
    background: url(img/background.jpg) no-repeat center top / cover;
    height: 100vh;
}

.site-header__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    margin: 0 auto 1em;
    text-align: center;
    padding: 0.25em 0;
}

.site-header__title {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0.25em;
}

.site-header__description {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 1em 1em;
}

.site-header__button {
    text-transform: uppercase;
    margin: 0 auto;
    width: 8em;
    height: 2.5em;
    background-color: #ff6033;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px -5px;
}

.button__link:link, .button__link:visited {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    font-size: 0.9em;
}

.site-about-us {
    background: url(img/about-us.jpg) no-repeat center top / cover;
    height: 100%;
    text-align: center;
}

.site-about-us__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 3em;
    text-align: center;
    padding: 0em 0 0.25em;
    margin: 0 auto;
}

.site-about-us__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;   
    width: 90%;
    font-size: 0.9em;
    margin: 0 auto 1em;
}

.site-about-us__image {
    width: 7em;
}

.site-services {
    background: url(img/services.png) no-repeat center top / cover;
    height: 100%;
    text-align: center;
}

.site-services__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    padding: 0em 0 0.25em;
    margin: 0 auto;
}

.site-services__list {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    list-style: none;
    padding: 0;
    text-shadow: 1px 2px 4px #C0C0C0;
}

.list__item {
    height: 3.25em;
    width: 14em;
    background-color: #fff;                      
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px -5px;
}

.site-services__image {
    width: 5em;
}

.list__text {
    width: 80%;
}

.list__icon {
    width: 1.5em;
    height: 1.5em;
}

.site-gallery {
    background: url(img/gallery.png) no-repeat center top / cover;
    height: 100%;
    text-align: center;
}

.site-gallery__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
}

.site-gallery__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #000;   
    width: 90%;
    font-size: 0.9em;
    margin: 0 auto 1em;
}

.site-gallery__list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}


.gallery__image {
    width: 100%;
}

.item--big {
    flex-basis: 95%;
}

.item--small {
    flex-basis: 45%;
}

.site-gallery__button {
    text-transform: uppercase;
    margin: 0 auto 1em;
    width: 8em;
    height: 2.5em;
    background-color: #5585a2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px -5px;
}

.site-subscribe {
    background: url(img/subscribe.png) no-repeat center top / cover;
    height: 100%;
    text-align: center;
}

.site-subscribe__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

.site-subscribe__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #000;   
    width: 70%;
    font-size: 0.9em;
    margin: 0 1em 1em;
}

.site-subscribe__input {
    width: 80%;
    height: 2.5em;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

.site-subscribe__button {
    text-transform: uppercase;
    margin: 0 auto 1em;
    width: 8em;
    height: 2.5em;
    background-color: #96b92c;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px -5px;
}

.site-blog {
    background: url(img/blog.png) no-repeat center top / cover;
    height: 100%;
    text-align: center;
}

.site-blog__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

.site-blog__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 0.9em;
    margin: 0 1em 1em;
}

.site-blog__blog-post {
    width: 90%;
    margin: 1em auto;
}

.blog-post__image {
    width: 100%;
    box-shadow: 0px 5px 20px -5px;
}

.site-blog__button {
    text-transform: uppercase;
    margin: 0 auto 1em;
    width: 8em;
    height: 2.5em;
    background-color: #f72b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px -5px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.site-footer {
    background: url(img/contact.png) no-repeat center top / cover;
    height: 100%;
    text-align: center;
}

.site-footer__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
}

.site-footer__description {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 0.9em;
    margin: 0 1em 1em;
}

.site-footer__contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin: 1em auto;
}

.contact__heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.contact__description {
    font-family: 'Raleway', sans-serif;
}

.item__input {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 0.75em;
    width: 80%;
    margin: 0.5em auto;
    background-color: #00c4c4;
    opacity: 0.5;
    border: 1px solid #009999;
}

.item__input:hover, .item__textarea:hover {
    cursor: pointer;
    opacity: 1;
}

.item__input:focus, .item__textarea:hover {
    opacity: 1;
}

.item__input::placeholder, .item__textarea::placeholder {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
}

.item__textarea {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 0.75em;
    background-color: #00c4c4;
    opacity: 0.5;
    width: 80%;
    margin: 0.5em auto;
    border: 1px solid #009999;
}

.site-footer__copyright {
    background-color: #000;
    text-align: center;
}

.copyright__left {
    color: #939393;
    font-family: 'Raleway', sans-serif;
    display: block;
}

.copyright__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    font-size: 2em;
    margin: 0 auto;
    color: #fff;
    display: block;
}

.copyright__description {
    color: #939393;
    font-family: 'Raleway', sans-serif;
    display: block;
}

.description--highlight {
    color: #ff2b58;
    font-weight: 700;
}